.home-button {
    border: 0;
    color: black;
    display: block;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    width: 300px;
    cursor: pointer;
    transition: all 0.3s;
}

.home-button:hover {
    background-color: #68c3e8;
    font-size: 19px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}