@font-face{
font-family: Noto Sans KR;
src: local(NotoSansKR-Black.otf) format('embedded-opentype'),
local(NotoSansKR-Bold.otf) format('embedded-opentype'),
local(NotoSansKR-Light.otf) format('embedded-opentype'),
local(NotoSansKR-Medium.otf) format('embedded-opentype'),
local(NotoSansKR-Regular.otf) format('embedded-opentype'),
local(NotoSansKR-Thin.otf) format('embedded-opentype')
}
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Noto Sans CJK KR', 'Noto Sans KR', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#content {
    min-height: 100%;
}

nav {
    padding: 5px 10px;
}

.nav-items {
    box-sizing: border-box;
    margin-left: 10px;
    font-weight: 700;
    color: black;
    padding: 5px;
    top: 5px;
}

#nav-right-items {
    float: right;
    display: inline-flex;
    float: row-reverse;
    font-size: 20px;
}

#logo {
    font-weight: 900;
    font-size: 30px;
    color: black;
}

#logo:hover {
    font-weight: 900;
    font-size: 35px;
    color: skyblue;
}

main {
    margin: 8px;
}

.center-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    font-weight: 800;
}

p {
    font-size: 18px;
}

footer {
    box-sizing: border-box;
    background-color: black;
    color: white;
    padding: 10px 20px;
    width: 100%;
    position: absolute;
    left: 0;
}

.footer-a {
    color: skyblue;
}

#mobile-menu {
    float: right;
    float: row-reverse;
    font-size: 20px;
    border: none;
    padding: 10px
}

.dropdown-content {
    box-sizing: border-box;
    border-top: 1px solid black;
    color: black;
    padding: 5px 3px;
    font-size: 17px;
}

#dropdown-contents {
    display: none;
}

@media(min-width: 800px){
    #mobile-menu {
        display: none;
    }
}

@media(max-width: 800px){
    #nav-right-items {
        display: none;
    }
    #mobile-menu {
        display: inline-flex;
    }
}

.home-button {
    border: 0;
    color: black;
    display: block;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    width: 300px;
    cursor: pointer;
    transition: all 0.3s;
}

.home-button:hover {
    background-color: #68c3e8;
    font-size: 19px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

a {
    transition: all 0.3s;
}

a:hover {
    color: skyblue;
    font-size: 120%;
}

table {
    text-align: center;
    border-collapse: collapse; 
    border: 2px solid black; 
}

td {
    color: black;
    border-top: 0.5px solid black;
    border-bottom: 0;
    border-right: 0.5px solid black;
    border-left: 0;
    padding: 5px;
}